/* Tema Scuro Cookie Consent */
html.cc--darkmode #cc-main {
    color-scheme: dark;

    --cc-bg: #0a0a0a;
    --cc-primary-color: rgb(242, 241, 236);
    --cc-secondary-color: #F2F1EC;

    --cc-btn-primary-bg: #ffffff;
    --cc-btn-primary-color: #000;
    --cc-btn-primary-hover-bg: #ccd4d8;
    --cc-btn-primary-hover-color: #000;

    --cc-btn-secondary-bg: rgba(255, 255, 255, 0.039);
    --cc-btn-secondary-color: var(--cc-primary-color);
    --cc-btn-secondary-border-color: #252729;
    --cc-btn-secondary-hover-bg: #252729;
    --cc-btn-secondary-hover-color: #fff;
    --cc-btn-secondary-hover-border-color: #252729;

    --cc-cookie-category-block-bg: #101111;
    --cc-cookie-category-block-border: #1d1e1f;
    --cc-cookie-category-block-hover-bg: #151516;
    --cc-cookie-category-block-hover-border: #1d1e1f;
    --cc-cookie-category-expanded-block-hover-bg: #1d1e1f;
    --cc-cookie-category-expanded-block-bg: #101111;
    --cc-toggle-readonly-bg: #2f3132;
    --cc-overlay-bg: rgba(0, 0, 0, 0.9) !important;

    --cc-toggle-on-knob-bg: var(--cc-bg);
    --cc-toggle-readonly-knob-bg: var(--cc-cookie-category-block-bg);

    --cc-separator-border-color: #252729;

    --cc-footer-border-color: #212529;
    --cc-footer-bg: #000;
}

html.cc--darkmode #cc-main .cm,
html.cc--darkmode #cc-main .pm {
    border: 1px solid var(--cc-separator-border-color);
}

html.cc--darkmode #cc-main .cm__links{
    color: rgba(242, 241, 236, .6);
}    

html.cc--darkmode #cc-main .toggle__icon {
    background: #242424;
    box-shadow: 0 0 0 1px #242424;
}

html.cc--darkmode #cc-main .section__toggle:checked~.toggle__icon {
    background: #3d3d3d;
    box-shadow: 0 0 0 1px #3d3d3d;
}

/* Tema Chiaro Cookie Consent */
#cc-main {
    color-scheme: light;

    --cc-bg: #f8f8f5;
    --cc-primary-color: #000;
    --cc-secondary-color: #252729;

    --cc-btn-primary-bg: #000;
    --cc-btn-primary-color: #fff;
    --cc-btn-primary-hover-bg: #323232;
    --cc-btn-primary-hover-color: #fff;

    --cc-btn-secondary-bg: rgba(0, 0, 0, 0.039);
    --cc-btn-secondary-color: var(--cc-primary-color);
    --cc-btn-secondary-border-color: #ccd4d8;
    --cc-btn-secondary-hover-bg: #ccd4d8;
    --cc-btn-secondary-hover-color: #000;
    --cc-btn-secondary-hover-border-color: #ccd4d8;

    --cc-cookie-category-block-bg: #f0f0f0;
    --cc-cookie-category-block-border: #d1d1d1;
    --cc-cookie-category-block-hover-bg: #e6e6e6;
    --cc-cookie-category-block-hover-border: #d1d1d1;
    --cc-cookie-category-expanded-block-hover-bg: #d1d1d1;
    --cc-cookie-category-expanded-block-bg: #f0f0f0;
    --cc-toggle-readonly-bg: #e0e0e0;
    --cc-overlay-bg: rgba(255, 255, 255, 0.9) !important;

    --cc-toggle-on-knob-bg: var(--cc-bg);
    --cc-toggle-readonly-knob-bg: var(--cc-cookie-category-block-bg);

    --cc-separator-border-color: #ccd4d8;

    --cc-footer-border-color: #d8d8d8;
    --cc-footer-bg: #fff;
}

#cc-main .cm,
#cc-main .pm {
    border: 1px solid var(--cc-separator-border-color);
}

#cc-main .cm__footer{
    background-color: var(--cc-bg);
}

#cc-main .cm__links {
    color: rgba(0, 0, 0, 0.6);
}

#cc-main .toggle__icon {
    background: #d1d1d1;
    box-shadow: 0 0 0 1px #d1d1d1;
}

#cc-main .section__toggle:checked ~ .toggle__icon {
    background: #b3b3b3;
    box-shadow: 0 0 0 1px #b3b3b3;
}