---
import type { HTMLAttributes } from 'astro/types';

type AnchorProps = HTMLAttributes<'a'> & { type?: never; external?: boolean };
type ButtonProps = HTMLAttributes<'button'> & { href?: never; external?: never };
type Props = ButtonProps | AnchorProps;

const { 
  href, 
  class: className,
  'data-url': dataUrl,
  'data-tooltip-default': tooltipDefault,
  'data-tooltip-success': tooltipSuccess,
  external,
  ...rest 
} = Astro.props;

const buttonClasses = 
  'inline-flex items-center justify-center px-6 py-2 font-serif text-sm leading-tight italic text-main bg-main border border-main rounded-full transition hover:bg-muted';

const externalProps = external ? { target: "_blank", rel: "noopener noreferrer" } : {};
---

{
  href ? (
    <a 
      href={href} 
      class:list={[buttonClasses, className]} 
      {...externalProps}
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button 
      class:list={[buttonClasses, className]}
      data-url={dataUrl}
      data-tooltip-default={tooltipDefault}
      data-tooltip-success={tooltipSuccess}
      type="button"
      {...rest}
    >
      <slot />
    </button>
  )
}