---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16 border-b border-solid border-main pb-4">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <h1>
                <span class="font-serif text-3xl leading-tight font-medium text-theme-foreground sm:text-5xl">
                    {siteConfig.title}
                </span>
            </h1>
        )
    }
    <h2 class="text-s leading-tight mt-1">
        SEO Strategist & AI Innovation Specialist—sharing intriguing insights at <a href="https://www.serp-secrets.com" class="text-theme-accent text-sky-500 dark:text-sky-400 hover:underline">SERP-Secrets</a>.
    </h2>
</header>